body {
  margin: 0;
  text-align: center;
  color: #40514E;
}

.top-container {
  background-color: #e3fdfd;
}

.header {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-top: 120px;
  padding-top: 120px;
}

h1 {
  font-family: 'Tangerine', cursive;
  font-size: 5.625rem;
  margin-bottom: 0;
  color: #66BFBF
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: normal;
}

h3 {
  font-family: 'Noto Sans JP', sans-serif;
  color: #11999E;
  font-size: 1.5rem;
}

a {
  color: #11999E;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

p {
  font-family: 'Space Mono', monospace;
}

.middle-container {
  margin: auto;
  padding-top: 100px;
  width: 50%;
  background-color: white;
}

.bottom-container {
  margin: auto;
  background-color: #66BFBF;
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: absolute;
  top: 60px;
  right: 380px;
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: left;
}

.profile2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: right;
  margin: -18px;

}

.center {
  display: block;
  text-align: center;
}

#pfp {
  width: 150px;
  height: 150px;
  border-radius: 50%
}

.img-position {
  vertical-align: middle;
  height: 20px;
}

.subtitle {
  margin-top: 15px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.skills {}

.body-alignment {
  vertical-align: center;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-spacing {
  padding: 0px 10px;
}

.margin-check {
  margin: 0;
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

hr {
  border-color: #EAF6F6;
  border-style: none;
  border-top-style: dotted;
  height: 0px;
  border-width: 8px;
  width: 10%
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
  background-image: -moz-linear-gradient(top, #66BFBF, #11999E);
  background-image: -ms-linear-gradient(top, #66BFBF, #11999E);
  background-image: -o-linear-gradient(top, #66BFBF, #11999E);
  background-image: -webkit-gradient(to bottom, #66BFBF, #11999E);
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 10px 30px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-bottom: 80px;
}

.btn:hover {
  background: #279393;
  border: solid #0F9CA2 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 8px;
  text-decoration: none;
}

.first-dots {
  position: relative;
  top: 50px;
}

.second-dots {
  position: relative;
  bottom: 30px;
}

.body-text{
  margin: auto;
  width: 30%;
}
#third-heading{



}
